@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    font-family: Montserrat, system-ui, sans-serif;
  }

  body {
    background-color: #0b0b0b;
    background-image: url(./assets/dots.png);
    background-size: contain;
  }
}